//  FARVER
$globalNavColor: #B7E4E9;
$activeNavColor: #C1F1F7;
$boxShadow: -6px 6px 6px rgba(0, 0, 0, 0.3);

//  MIXINS
@mixin colorCodeHeading ($width: 25px, $color: #9CDAA0) {
    border: solid 1px black;
    background-color: white;
    height: 2em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;

        .colorCode {
            height: 100%;
            width: $width;
            background-color: $color;
            border-radius: 3px 0 0 3px;
        }

        /*.heading {
            font-size: 1em;
            width: 100%;
        }*/
}

@mixin hiddenAccordion {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

@mixin fixedListBox() {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    max-height: 100vh;
    width: calc(100% - 50px);
    max-width: 800px;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 2px solid black;
    max-height: calc(100vh - 40px);
    min-height: 250px;
    padding: 20px;
}

@mixin boxShadowWithHover {
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
        }
}

@mixin toastContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #4caf50;
    color: white;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s;
    z-index: 20;

    @keyframes fadeInOut {
        0% { opacity: 0; transform: translateY(20px); }
        10%, 90% { opacity: 1; transform: translateY(0); }
        100% { opacity: 0; transform: translateY(20px); }
    }
}