//  FARVER
$globalNavColor: #B7E4E9;
$activeNavColor: #C1F1F7;
$boxShadow: 0 4px 6px rgba(0, 0, 0, 0.5);

//  MIXINS
@mixin colorCodeHeading ($width: 25px, $color: #9CDAA0) {
    border: solid 1px black;
    background-color: white;
    height: 2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

        .colorCode {
            height: 100%;
            width: $width;
            background-color: $color;
            border-radius: 5px 0 0 5px;
        }

        .heading {
            font-size: 1em;
            width: 100%;
        }
}

@mixin hiddenAccordion {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

@mixin fixedListBox() {
    position: fixed;
    top: 50%;
    left: 25px;
    right: 25px;
    transform: translateY(-50%);
    //background-color: $color;
    border-radius: 5px;
    border: 2px solid black;
    max-height: 100vh;
    min-height: 250px;
    padding: 20px;
}