@import 'partial';

#bottomOfAppBackground {
    background-color: #EFF9FB;
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

        #dayContainer {
            border-radius: 5px;
            border: 1px solid black;
            background-color: white;
            padding: 10px;
            height: 100%;
            overflow: hidden;

                #dayCarousel {
                    height: 100%;
                    display: flex;
                    gap: 10px;
                    transition: transform 0.5s ease;
                }
        }
} 