#newRecipeForm {
  background-color: #C1F1F7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#newRecipeForm #formHeadingPlusInputs {
  border: solid 1px #3E7EFF;
  border-radius: 5px;
}
#newRecipeForm #formHeadingPlusInputs .colorCodeHeading {
  border: solid 1px black;
  background-color: white;
  height: 2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  /*.heading {
      font-size: 1em;
      width: 100%;
  }*/
}
#newRecipeForm #formHeadingPlusInputs .colorCodeHeading .colorCode {
  height: 100%;
  width: 25px;
  background-color: #9CDAA0;
  border-radius: 3px 0 0 3px;
}
#newRecipeForm #formHeadingPlusInputs .colorCodeHeadingLife {
  border: solid 1px black;
  background-color: white;
  height: 2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  /*.heading {
      font-size: 1em;
      width: 100%;
  }*/
}
#newRecipeForm #formHeadingPlusInputs .colorCodeHeadingLife .colorCode {
  height: 100%;
  width: 25px;
  background-color: #9674E4;
  border-radius: 3px 0 0 3px;
}
#newRecipeForm #formHeadingPlusInputs #formInputs {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #DFF1F4;
  border-radius: 5px;
}
#newRecipeForm #formHeadingPlusInputs #formInputs input {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid #737272;
  border-radius: 5px;
  font-weight: 250;
}
#newRecipeForm #formHeadingPlusInputs #formInputs textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #737272;
  border-radius: 5px;
  font-weight: 250;
}
#newRecipeForm button {
  width: 100%;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  background-color: #53DBF6;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  font-size: 1rem;
  font-weight: 250;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
#newRecipeForm button:hover {
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
}
#newRecipeForm button img {
  position: absolute;
  height: 2rem;
  right: 10px;
  top: 50%;
  transform: translatey(-50%);
}

#savedActivitiesContainer {
  background-color: #C1F1F7;
  padding: 0 20px 20px 20px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedActivitiesContainer .savedActivitiesAccordion {
  border: solid 1px #3E7EFF;
  border-radius: 5px;
}
#savedActivitiesContainer .savedActivitiesAccordion .colorCodeHeading {
  border: solid 1px black;
  background-color: white;
  height: 2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  /*.heading {
      font-size: 1em;
      width: 100%;
  }*/
  cursor: pointer;
}
#savedActivitiesContainer .savedActivitiesAccordion .colorCodeHeading .colorCode {
  height: 100%;
  width: 25px;
  background-color: #9674E4;
  border-radius: 3px 0 0 3px;
}
#savedActivitiesContainer .savedActivitiesAccordion .colorCodeHeading .heading {
  font-size: 1rem;
}
#savedActivitiesContainer .savedActivitiesAccordion .colorCodeHeading img {
  height: 1.5em;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
#savedActivitiesContainer .savedActivitiesAccordion .colorCodeHeading img.flippedArrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #DFF1F4;
  padding: 10px;
  border-radius: 5px;
  transform-origin: top;
  transition: transform 0.3s ease, padding 0.3s ease;
  overflow: hidden;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden input, #savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden ol {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #737272;
  background-color: white;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden ol {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #737272;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 200px;
  overflow-y: auto;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden ol li img {
  height: 1.5em;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden.hidden {
  transform: scaleY(0);
  padding: 0;
  height: 0;
}
#savedActivitiesContainer .savedActivitiesAccordion .savedActivitiesAccordionHidden.visible {
  transform: scaleY(1);
}

.popUpBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.savedActivityDetails {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  max-height: 100vh;
  width: calc(100% - 50px);
  max-width: 800px;
  transform: translate(-50%, -50%);
  background-color: #9CDAA0;
  padding: 25px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 10;
}
.savedActivityDetails .activityContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.savedActivityDetails .activityContainer .notEditingActivity {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.savedActivityDetails .activityContainer .notEditingActivity .activityName {
  font-size: 1.5em;
}
.savedActivityDetails .activityContainer .notEditingActivity pre {
  min-height: 0;
  max-height: 150px;
  padding: 10px;
  overflow: auto;
  background-color: #A7F0AC;
  border-radius: 5px;
}
.savedActivityDetails .activityContainer .notEditingActivity .buttonContainer {
  display: flex;
  gap: 10px;
}
.savedActivityDetails .activityContainer .notEditingActivity .buttonContainer .editActivityButton {
  background-color: #53DBF6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  flex: 1;
  cursor: pointer;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.savedActivityDetails .activityContainer .notEditingActivity .buttonContainer .editActivityButton:hover {
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
}
.savedActivityDetails .activityContainer .notEditingActivity .buttonContainer .deleteActivityButton {
  background-color: #FF0000;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  flex: 1;
  cursor: pointer;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.savedActivityDetails .activityContainer .notEditingActivity .buttonContainer .deleteActivityButton:hover {
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
}
.savedActivityDetails .activityContainer .editingTextArea {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.savedActivityDetails .activityContainer .editingTextArea input, .savedActivityDetails .activityContainer .editingTextArea textarea {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
}
.savedActivityDetails .activityContainer .editingTextArea button {
  background-color: #53DBF6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.savedActivityDetails .activityContainer .editingTextArea button:hover {
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
}
.savedActivityDetails .exitActivityDetails {
  z-index: 99999;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF0000;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
}
.savedActivityDetails .exitActivityDetails img {
  height: 100%;
  width: 100%;
}

.toastContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #4caf50;
  color: white;
  padding: 30px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s;
  z-index: 20;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}/*# sourceMappingURL=NewRecipeForm.module.css.map */