@import 'partial';

form {
    background-color: $activeNavColor;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

        #formHeadingPlusInputs {
            border: solid 1px #3E7EFF;
            border-radius: 5px;

                .colorCodeHeading {
                    @include colorCodeHeading;
                }
                .colorCodeHeadingLife {
                    @include colorCodeHeading($color: black);
                }
                
                #formInputs {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: #DFF1F4;
                    border-radius: 5px;

                        input {
                            background-color: white;
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #737272;
                            border-radius: 5px;
                        }
                        textarea {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #737272;
                            border-radius: 5px;
                        }
                }
        }

        button {
            width: 100%;
            cursor: pointer;
            text-align: center;
            border: 1px solid black;
            background-color: #53DBF6;
            padding: 20px;
            border-radius: 5px;
            position: relative;

                img {
                    position: absolute;
                    height: 3em;
                    right: 10px;
                    top: 50%;
                    transform: translatey(-50%);
                }
        }

}

#savedActivitiesContainer {
    background-color: $activeNavColor;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

        .savedActivitiesAccordion {
            border: solid 1px #3E7EFF;
            border-radius: 5px;

                .colorCodeHeading {
                    @include colorCodeHeading($color: black);
                    cursor: pointer;

                        img {
                            height: 2em;
                            margin-left: auto;
                            margin-right: 10px;
                            transition: transform 0.3s ease;
                        }
                        img.flippedArrow {
                            transform: rotate(180deg);
                            transition: transform 0.3s ease;
                        }
                }

                .savedActivitiesAccordionHidden {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: #DFF1F4;
                    padding: 10px;
                    border-radius: 5px;
                    transform-origin: top;
                    transition: transform 0.3s ease, padding 0.3s ease;
                    overflow: hidden;

                        input, ol {
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            border: 1px solid #737272;
                            background-color: white;
                        }
                        &.hidden {
                            transform: scaleY(0);
                            padding: 0;
                            height: 0;
                        }
                        &.visible {
                            transform: scaleY(1);
                        }
                }
                
        }
}