@import 'partial';

#savedRecipesSection {
    background-color: $activeNavColor;
    padding: 20px;

        .accordion {
            border: solid 1px #3E7EFF;
            border-radius: 5px;

                .colorCodeHeading {
                    @include colorCodeHeading;
                    
                    img {
                        height: 2em;
                        margin-left: auto;
                        margin-right: 10px;
                        transition: transform 0.3s ease;
                    }
                    img.flippedArrow {
                        transform: rotate(180deg);
                        transition: transform 0.3s ease;
                    }
                }
        
                .visibleAccordion {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: #DFF1F4;
                    border-radius: 5px;
                    transition: transform 0.3s ease, padding 0.3s ease;
                    transform-origin: top;
                    overflow: hidden;

                        .sortAndSearch {
                            display: flex;
                            gap: 10px;
                            
                                select, input {
                                    border-radius: 5px;
                                    border: 1px solid #737272;
                                    padding: 10px;
                                }
                                input {
                                    width: 100%;
                                }
                        }

                        ol {
                            background-color: white;
                            border-radius: 5px;
                            border: 1px solid #737272;
                            padding: 10px 30px 10px 30px;
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            max-height: 250px;
                            overflow-y: auto;

                                li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    cursor: pointer;

                                        img {
                                            height: 1.5em;
                                        }
                                }
                        }
                }

                .hidden {
                    transform: scaleY(0);
                    padding: 0;
                    height: 0;
                }
                
                .visible {
                    transform: scaleY(1);
                }
        }

        .mealDetailsBackground {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

                .savedMealDetails {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    right: 50%;
                    max-height: 100vh;
                    width: calc(100% - 50px);
                    max-width: 800px;
                    transform: translate(-50%,-50%);
                    background-color: #DEF2DF;
                    padding: 25px;
                    border-radius: 5px;
                    border: 2px solid black;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    z-index: 10;
    
        
                        .recipeContainer {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
        
                                .notEditingMeal {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 25px;

                                        .recipeName {
                                            font-size: 1.5em;
                                        }

                                        pre {
                                            min-height: 0;
                                            max-height: 150px;
                                            padding: 10px;
                                            overflow: auto;
                                            background-color: white;
                                            border-radius: 5px;
                                        }
        
                                        .buttonsContainer {
                                            display: flex;
                                            gap: 10px;
        
                                                .editMealButton {
                                                    background-color: #53DBF6;
                                                    border: 1px solid black;
                                                    border-radius: 5px;
                                                    padding: 10px 0 10px 0;
                                                    flex-grow: 2;
                                                    cursor: pointer;
                                                    @include boxShadowWithHover;
                                                }
                                                .deleteMealButton {
                                                    background-color: #FF0000;
                                                    border: 1px solid black;
                                                    border-radius: 5px;
                                                    padding: 10px 0 10px 0;
                                                    flex-grow: 1;
                                                    cursor: pointer;
                                                    @include boxShadowWithHover;
                                                }
                                        }
                                }
        
                                .recipeHeading {
                                    font-size: 1.2em;
                                }
                                .editingTextArea {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 25px;
        
                                        input, textarea {
                                            padding: 10px;
                                            border-radius: 5px;
                                            border: solid 1px black;
                                        }
                                        button {
                                            background-color: #53DBF6;
                                            border: 1px solid black;
                                            border-radius: 5px;
                                            padding: 10px 0 10px 0;
                                            cursor: pointer;
                                            @include boxShadowWithHover;
                                        }
                                }
                        }
        
                        #ratingContainer {
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
        
                                .ratingFields {
                                    display: flex;
                                    justify-content: space-between;
                                    gap: 25px;
        
                                    .healthRating {
                                        flex: 1;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
            
                                            input {
                                                width: 100%;
                                                padding: 10px;
                                                border-radius: 5px;
                                                border: 1px solid black;
                                            }
                                    }
                                    .priceRating {
                                        flex: 1;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
            
                                            input {
                                                width: 100%;
                                                padding: 10px;
                                                border-radius: 5px;
                                                border: 1px solid black;
                                            }
                                    }
                                }
        
                                .doneMealDetails {
                                    width: 100%;
                                    padding: 20px;
                                    background-color: #7EF653;
                                    text-align: center;
                                    border-radius: 5px;
                                    border: 1px solid black;
                                    cursor: pointer;
                                    @include boxShadowWithHover;
                                }
                        }

                        .exitMealDetails {
                            z-index: 99999;
                            top: 0;
                            left: 0;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #FF0000;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                            position: absolute;

                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                        }
                }
            
        }

}