#savedRecipesSection {
  background-color: #C1F1F7;
  padding: 10px;
}
#savedRecipesSection .accordion {
  border: solid 1px #3E7EFF;
  border-radius: 5px;
}
#savedRecipesSection .accordion .colorCodeHeading {
  border: solid 1px black;
  background-color: white;
  height: 2em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#savedRecipesSection .accordion .colorCodeHeading .colorCode {
  height: 100%;
  width: 28.5px;
  background-color: #9CDAA0;
  border-radius: 5px 0 0 5px;
}
#savedRecipesSection .accordion .colorCodeHeading .heading {
  font-size: 1em;
  width: 100%;
}
#savedRecipesSection .accordion .colorCodeHeading img {
  height: 2em;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
#savedRecipesSection .accordion .colorCodeHeading img.flippedArrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
#savedRecipesSection .accordion .visibleAccordion {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #DFF1F4;
  border-radius: 5px;
  transition: transform 0.3s ease, padding 0.3s ease;
  transform-origin: top;
  overflow: hidden;
}
#savedRecipesSection .accordion .visibleAccordion .sortAndSearch {
  display: flex;
  gap: 10px;
}
#savedRecipesSection .accordion .visibleAccordion .sortAndSearch select, #savedRecipesSection .accordion .visibleAccordion .sortAndSearch input {
  border-radius: 5px;
  border: 1px solid #737272;
  padding: 10px;
}
#savedRecipesSection .accordion .visibleAccordion ol {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #737272;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#savedRecipesSection .accordion .visibleAccordion ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#savedRecipesSection .accordion .visibleAccordion ol li img {
  height: 1.5em;
}
#savedRecipesSection .accordion .hidden {
  transform: scaleY(0);
  padding: 0;
  height: 0;
}
#savedRecipesSection .accordion .visible {
  transform: scaleY(1);
}
#savedRecipesSection .savedMealDetails {
  position: fixed;
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 1;
}
#savedRecipesSection .savedMealDetails .recipeName {
  font-size: 1.5em;
}
#savedRecipesSection .savedMealDetails .recipeContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedRecipesSection .savedMealDetails .recipeContainer .recipeHeading {
  font-size: 1.2em;
}
#savedRecipesSection .savedMealDetails .recipeContainer .recipeField {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
#savedRecipesSection .savedMealDetails .recipeContainer .recipeField button {
  position: absolute;
  top: 0;
  right: 0;
}
#savedRecipesSection .savedMealDetails .recipeContainer .editingTextArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#savedRecipesSection .savedMealDetails #ratingContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#savedRecipesSection .savedMealDetails #ratingContainer .healthRating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedRecipesSection .savedMealDetails #ratingContainer .healthRating input {
  max-width: 50px;
  height: 50px;
}
#savedRecipesSection .savedMealDetails #ratingContainer .priceRating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedRecipesSection .savedMealDetails #ratingContainer .priceRating input {
  max-width: 100px;
  height: 50px;
}
#savedRecipesSection .savedMealDetails #ratingContainer .doneMealDetails {
  width: 100%;
  padding: 20px;
  background-color: green;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
#savedRecipesSection .savedMealDetails #ratingContainer .doneMealDetails p {
  font-size: 1.2em;
}
#savedRecipesSection .savedMealDetails .exitMealDetails {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}/*# sourceMappingURL=SavedRecipes.module.css.map */