#savedRecipesSection {
  background-color: #C1F1F7;
  padding: 20px;
}
#savedRecipesSection .accordion {
  border: solid 1px #3E7EFF;
  border-radius: 5px;
}
#savedRecipesSection .accordion .colorCodeHeading {
  border: solid 1px black;
  background-color: white;
  height: 2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  /*.heading {
      font-size: 1em;
      width: 100%;
  }*/
}
#savedRecipesSection .accordion .colorCodeHeading .colorCode {
  height: 100%;
  width: 25px;
  background-color: #9CDAA0;
  border-radius: 3px 0 0 3px;
}
#savedRecipesSection .accordion .colorCodeHeading img {
  height: 2em;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
#savedRecipesSection .accordion .colorCodeHeading img.flippedArrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
#savedRecipesSection .accordion .visibleAccordion {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #DFF1F4;
  border-radius: 5px;
  transition: transform 0.3s ease, padding 0.3s ease;
  transform-origin: top;
  overflow: hidden;
}
#savedRecipesSection .accordion .visibleAccordion .sortAndSearch {
  display: flex;
  gap: 10px;
}
#savedRecipesSection .accordion .visibleAccordion .sortAndSearch select, #savedRecipesSection .accordion .visibleAccordion .sortAndSearch input {
  border-radius: 5px;
  border: 1px solid #737272;
  padding: 10px;
}
#savedRecipesSection .accordion .visibleAccordion .sortAndSearch input {
  width: 100%;
}
#savedRecipesSection .accordion .visibleAccordion ol {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #737272;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 250px;
  overflow-y: auto;
}
#savedRecipesSection .accordion .visibleAccordion ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#savedRecipesSection .accordion .visibleAccordion ol li img {
  height: 1.5em;
}
#savedRecipesSection .accordion .hidden {
  transform: scaleY(0);
  padding: 0;
  height: 0;
}
#savedRecipesSection .accordion .visible {
  transform: scaleY(1);
}
#savedRecipesSection .mealDetailsBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails {
  position: fixed;
  top: 50%;
  left: 25px;
  right: 25px;
  max-height: 100vh;
  transform: translateY(-50%);
  background-color: #DEF2DF;
  padding: 25px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 10;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .notEditingMeal {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .notEditingMeal .recipeName {
  font-size: 1.5em;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .notEditingMeal pre {
  min-height: 0;
  max-height: 150px;
  padding: 10px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .notEditingMeal .buttonsContainer {
  display: flex;
  gap: 10px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .notEditingMeal .buttonsContainer .editMealButton {
  background-color: #53DBF6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  flex-grow: 2;
  cursor: pointer;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .notEditingMeal .buttonsContainer .deleteMealButton {
  background-color: #FF0000;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  flex-grow: 1;
  cursor: pointer;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .recipeHeading {
  font-size: 1.2em;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .editingTextArea {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .editingTextArea input, #savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .editingTextArea textarea {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .recipeContainer .editingTextArea button {
  background-color: #53DBF6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer .ratingFields {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer .ratingFields .healthRating {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer .ratingFields .healthRating input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer .ratingFields .priceRating {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer .ratingFields .priceRating input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails #ratingContainer .doneMealDetails {
  width: 100%;
  padding: 20px;
  background-color: #7EF653;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .exitMealDetails {
  z-index: 99999;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF0000;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
}
#savedRecipesSection .mealDetailsBackground .savedMealDetails .exitMealDetails img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=SavedRecipes.module.css.map */