@import 'partial';

#globalNav {
    display: flex;
    
        button {
            all: unset;
            padding: 20px 20px 10px 20px;
            background-color: $globalNavColor;
            cursor: pointer;
            flex: 1;
            display: flex;
            align-items: end;
            justify-content: space-between;
            gap: 10px;

            @media screen and (max-width: 400px) {
                padding: 20px 5px 20px 5px;
            }

                img {
                    height: 1.5rem;
                    transition: transform 0.3s ease;
                }
                .flippedImg {
                    transform: rotate(180deg);
                    transition: transform 0.3s ease;
                }
        }

        #newRecipeButton {
            border-bottom: 1px black solid;
        }
        #savedRecipesButton {
            border-bottom: 1px black solid;
            border-right: 1px black solid;
            border-left: 1px black solid;
        }
        #lifeButton {
            border-bottom: 1px black solid;
        }

        .activeNavButton {
            border-bottom: none !important;
            background-color: $activeNavColor !important;
        }
}